html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp,small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,
time, mark, audio, video, .recipe {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	vertical-align: baseline;
}
/* aref-ruqaa-ink-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Aref Ruqaa Ink';
  font-style: normal;
  font-weight: 400;
  src: url('fonts/aref-ruqaa-ink-v11-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* bakbak-one-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Bakbak One';
  font-style: normal;
  font-weight: 400;
  src: url('fonts/bakbak-one-v11-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
p{
   font-family: 'Aref Ruqaa Ink'; 
}

h1, h2, h3 {
font-family: 'Bakbak One';    
}

nav {
	margin-left: 200px;	
}

nav li {
	display: inline;
}

nav a {
	display: inline-block;
	text-decoration: none;
	font-size: 1.2em;
	color: #ffffff;
	padding: 10px 20px;
	background: #6E9D6C;
	border-radius: 5px;
	border: 1px solid #6E9D6C;
	box-shadow: inset 0px 1px 0px rgba(255,255,255,0.7);
	text-shadow:
		0px -1px 1px rgba(000,000,000,0.2),
		0px 1px 0px rgba(255,255,255,0.3);
}

nav a {
  -webkit-transition: -webkit-transform .5s,
                      background-color 1s ease-in .5s;
  transition: transform .5s,
              background-color 1s ease-in .5s;
}
nav a:hover {
	background-color: #8C9833;
  -webkit-transform: scale(1.5);
  -ms-transform: scale(1.5);
  transform: scale(1.5);
}

body {
background-image: url(images/background.jpg) ; 
  max-width: 900px;
  margin-top: 30px;
  margin-right: auto;
  margin-left: auto;
  padding: 25px;
}

main {
  display: grid;
  grid-template-columns: 350px 350px;
  grid-template-rows: repeat(3, 450px);
  border-color: #4a4a4a;
  gap: 20px;
  margin-top: 44px;
  justify-items: center;
  justify-content: center;
}

.description {
  font-family: 'Aref Ruqaa Ink';
  font-size: 14px;
  font-weight: 300;
  line-height: 1.29;
  letter-spacing: 0.1px;
  text-align: left;
  color: #ffffff;
  padding: 10px 0px 10px 10px;
  border-top: 1px solid #000000;
}

.logo {
  width: 115px;
  height: 21.1px;
  object-fit: contain;
  padding: 20px;
}

.container {
  min-width: 500px;
  margin: auto;
}

footer {
  margin-top: 44px;
}

.recipe {
  box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.5);
  width: 300px;
}

.time {
  padding-left: 10px;
  padding-top: 10px;
  width: 20px;
  height: auto;
}

.mins {
  display: inline-block;
  font-family: 'Alatsi';
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.3px;
  text-align: left;
  color: #4a4a4a;
  position: relative;
  bottom: 5px;
}


.box {
  background-color: rgb(12, 59, 31);
  color: black;
  border-radius: 5px;
  border: 5px #563e21 solid;
}

.a {
  grid-column-start: 1;
  grid-column-end: span 2;
  grid-row-start: 1;
  grid-row-end: 3;
}

.logo {
	position: absolute;
	z-index: 100;
	left: 0;	
}

.bordered-image {
   border: 5px solid #563e21; 
}

.center-text{
    text-align: center;
}

textarea{
     width: 500px;      
            height: 200px;    
            font-size: 16px;  
}

footer{
    background: rgb(12, 59, 31); 
	background: linear-gradient(to bottom, rgb(12, 59, 31));  
  position: absolute;
	z-index: 100;
		
}

